<div class="layout">

  <header class="header">
    <div class="header-content">
      <img src="assets/sports_educations_enhancer_logo.jpeg" alt="Logo" class="header-icon" />
      <h1>Mini Platform</h1>
    </div>
  </header>
  <div class="body">
    <aside class="sidebar">
      <nav>
        <ul>
          <li><a routerLink="/athletes" routerLinkActive="active">Athletes</a></li>
          <li><a routerLink="/videos" routerLinkActive="active">Videos</a></li>
          <li><a routerLink="/metrics" routerLinkActive="active">Metrics</a></li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>