<div class="athlete-details">
    <h2>{{ athlete?.name }} (ID: {{ athlete?.id }})</h2>
    <p><strong>Sport:</strong> {{ athlete?.sport }}</p>
    <p><strong>Age:</strong> {{ athlete?.age }}</p>
</div>

<div class="summary-section">
    <h3>Performance Summary</h3>
    <ul>
        <li *ngFor="let metricType of getMetricKeys(summary)">
            <strong>{{ metricType }}:</strong> {{ summary[metricType] }}
        </li>
    </ul>
</div>

<div class="videos-section">
    <h3>All Videos</h3>
    <ul>
        <li *ngFor="let video of videos" class="video-item">
            <a [routerLink]="['/video', video.id]" class="video-link">
                <h4 class="video-title">{{ video.filename }}</h4>
            </a>
        </li>
    </ul>
</div>

<div class="metrics-section">
    <h3>All Metrics</h3>
    <ul>
        <li *ngFor="let metric of metrics">
            <div>#{{ metric.id }} <strong>[{{ metric.metric_type }}: {{ metric.metric_value }}] </strong></div>
            <div> time in seconds: {{metric.timestamp}}
                <a [routerLink]="['/video', metric.video.id]" class="video-link">
                    <h4 class="video-title">{{ metric.video.filename }}</h4>
                </a>
            </div>

        </li>
    </ul>
</div>