
<!-- Athlete Form -->
<form (ngSubmit)="addAthlete()" #athleteForm="ngForm">
  <input type="text" name="name" [(ngModel)]="newAthlete.name" placeholder="Name" required />
  <input type="text" name="sport" [(ngModel)]="newAthlete.sport" placeholder="Sport" required />
  <input type="number" name="age" [(ngModel)]="newAthlete.age" placeholder="Age" required />
  <button type="submit">Add Athlete</button>
</form>


<h2>Athletes</h2>
<ul class="athlete-list">
  <li *ngFor="let athlete of athletes" class="athlete-item">
    <a [routerLink]="['/athlete', athlete.id]" class="athlete-link">
      <h3>{{ athlete.name }}</h3>
      <p>ID: {{ athlete.id }} | Sport: {{ athlete.sport }} | Age: {{ athlete.age }}</p>
    </a>
  </li>
</ul>
