<h2>Video #{{ videoId }} {{ video.filename }}</h2>
<span class="video-status">Status: {{ video.status }}</span>
<div class="video-content" *ngIf="video">
  <video  controls muted preload="metadata">
    <source src="http://localhost:8000/videos/stream/{{video.filename}}" type="video/mp4" />
    <source src="http://localhost:8000/videos/stream/{{video.filename}}" type="video/quicktime" />
  </video>
</div>
<div class="video-page-layout">
  <section class="lists">
    <div class="list-section">
      <h3>Athletes in Video</h3>
      <ul class="tagged-athletes">
        <li *ngFor="let athlete of athletes">
          #{{ athlete.id }}  {{ athlete.name }} ({{ athlete.sport }})
        </li>
      </ul>
    </div>

    <div class="list-section">
      <h3>Metrics</h3>
      <ul class="metric-list">
        <li *ngFor="let metric of metrics">
          {{ metric.metric_type }} - {{ metric.metric_value }} (Athlete: {{ metric.athlete_id }})
        </li>
      </ul>
    </div>
  </section>

  <!-- Right: Forms -->
  <section class="forms">
    <div class="form-block">
      <h4>Tag Athlete</h4>
      <form (ngSubmit)="submitTag()" [formGroup]="tagForm">
        <select formControlName="athlete_id">
          <option value="" disabled selected>Select an athlete</option>
          <option *ngFor="let athlete of allAthletes" [value]="athlete.id">
            {{ athlete.name }} ,Id: {{ athlete.id }}
          </option>
        </select>
        <button type="submit">Tag</button>
      </form>
    </div>

    <div class="form-block">
      <h4>Add Metric</h4>
      <form (ngSubmit)="submitMetric()" [formGroup]="metricForm">
        <select formControlName="athlete_id">
          <option value="" disabled selected>Select an athlete</option>
          <option *ngFor="let athlete of allAthletes" [value]="athlete.id">
            {{ athlete.name }} ,Id: {{ athlete.id }}
          </option>
        </select>
        <input formControlName="metric_type" placeholder="Metric Type" />
        <input formControlName="metric_value" placeholder="Metric Value" />
        <input formControlName="timestamp" placeholder="timestamp" />

        <button type="submit">Add</button>
      </form>
    </div>
  </section>
</div>
